@model showed.ViewModels.ShowIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>My Shows</h2>
    <h4> Manage you shows here! </h4>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Network</th>
                <th class="text-center">Name</th>
                <th class="text-center">Aired</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Imdb</th>
                <th class="text-center">Unfollow</th>
            </tr>

            @foreach (var show in Model.Shows)
            {
                <tr>
                    <td class="text-center">@show.Network</td>
                    <td class="text-center">@Html.ActionLink(show.Name, "LoggedInShowDetails", new {showId = show.Id, showInfoId = @Model.ShowInfos.First(c=> c.ShowId.Equals(show.Id)).ShowInfoId})</td>
                    <td class="text-center">@show.FirstAired.GetValueOrDefault().Year </td>
                    <td class="text-center">
                        @if (show.Rating != null)
                        {
                            @show.Rating
                            @:/ 10
                        }
                        else
                        {
                            @:Not rated
                        }
                    </td>
                    <td class="text-center"><a href="http://www.imdb.com/title/@show.ImdbId" target="_blank">Imdb</a></td>
                    <td class="text-center">
                        @using (Html.BeginForm("UnfollowShow", "Show"))
                        {
                            @Html.Hidden("showId", show.Id)
                            <input type="submit" class="btn btn-purple btn-xs" value="Unfollow" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

