@model TVDBSharp.Models.Show

@{
    ViewBag.Title = @Model.Name + " Details";
}
<div class="jumbotron">
    <center><img src="@Model.Banner" align="middle" /></center>
</div>
<div class="container">

    <div>
        <div class="col-md-2 col-sm-2 col-xs-3 text-center">
            <img src="@Model.Poster" style="width: 100%" />
        </div>
        <div class="col-md-5 col-sm-6 col-xs-9">
            @Model.Description
        </div>
        <br />
        <div class="col-md-4 col-sm-4 col-xs-12">
            <ul class="paddingListGroup list-group">
                <li class="list-group-item list-group-item-purpleLight text-center">
                    Rating: @if (Model.Rating != null)
                    {
                        @Model.Rating
                        @:/ 10
                            }
                    else
                    {
                        @:Not rated
                            }
                </li>
                <li class="list-group-item list-group-item-purpleDark text-center">Premiered: @Model.FirstAired.GetValueOrDefault().ToShortDateString()</li>
                <li class="list-group-item list-group-item-purpleLight text-center">Episodes: @Model.Episodes.Count</li>
                <li class="list-group-item list-group-item-purpleDark text-center">
                    @if (@Model.Status.Equals(TVDBSharp.Models.Enums.Status.Continuing))
                    {
                        <div style="color:greenyellow">Running</div>
                    }
                    else if (@Model.Status.Equals(TVDBSharp.Models.Enums.Status.Ended))
                    {
                        <div style="color:red">Ended</div>
                    }
                    else
                    {
                        <div style="color:red">Status unknown</div>
                    }
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-danger" role="alert">Click on an episode to show description!</div>
@{
    <ul class="nav nav-tabs" id="episode-table">

        @{
            var listEp = Model.Episodes;
            var seasonLastNr = listEp.Last().SeasonNumber;
            var seasonFirstNr = listEp.First().SeasonNumber;
            bool hasExtra;
            if (seasonFirstNr == 0)
            {
                hasExtra = true;
            }
            else
            {
                hasExtra = false;
                seasonFirstNr = 0;
            }
        }

        @for (int i = seasonLastNr; i > seasonFirstNr; i--)
        {
            <li>
                <a href="#@i" data-toggle="tab">@i</a>
            </li>
        }
        @if (hasExtra == true)
        {
            <li>
                <a href="#0" data-toggle="tab">Extras</a>
            </li>
        }

    </ul>
    <div class="tab-content">
        @for(int j = seasonLastNr; j > seasonFirstNr; j--)
        {
        <div class="tab-pane" id="@j">
            <table class="table table-condensed" style="border-collapse: collapse;">
                <tr>
                    <th class="text-center">Season</th>
                    <th class="text-center">Episode</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Aired</th>
                </tr>
                @if (Model != null)
                {

                    foreach (var show in Model.Episodes.FindAll(c => c.SeasonNumber.Equals(@j)))
                    {
                        <tr data-toggle="collapse" data-target="#@show.Id" class="accordion-toggle">
                            <td class="text-center">@show.SeasonNumber</td>
                            <td class="text-center">@show.EpisodeNumber</td>
                            <td class="text-center">@show.Title</td>
                            <td class="text-center">
                                @show.FirstAired.GetValueOrDefault().ToLongDateString()
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow">
                                <div class="accordian-body collapse" id="@show.Id"> @show.Description </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        }
        @if (hasExtra == true)
        {
            <div class="tab-pane" id="0">
                <table class="table table-condensed" style="border-collapse: collapse;">
                    <tr>
                        <th class="text-center">Season</th>
                        <th class="text-center">Episode</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Aired</th>
                    </tr>
                    @if (Model != null)
                    {

                        foreach (var show in Model.Episodes.FindAll(c => c.SeasonNumber.Equals(0)))
                        {
                            <tr data-toggle="collapse" data-target="#@show.Id" class="accordion-toggle">
                                <td class="text-center">@show.SeasonNumber</td>
                                <td class="text-center">@show.EpisodeNumber</td>
                                <td class="text-center">@show.Title</td>
                                <td class="text-center">
                                    @show.FirstAired.GetValueOrDefault().ToLongDateString()
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="@show.Id"> @show.Description </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    </div>
}
    </div>

</div>



<script type="text/javascript">
    $('#episode-table a:first').tab('show');
</script>

